.profile__edit-btn {
	width: 24px;
	height: 24px;
	border: 1px solid var(--bg-light);
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	box-sizing: border-box;
	margin-top: 15px;
	transition: all 0.1s ease;
}

.profile__edit-btn:hover {
	opacity: 0.6;
}

@media screen and (max-width: 704px) {
	.profile__edit-btn {
		width: 18px;
		height: 18px;
		margin-top: 8px;
	}
}
